* {
    background-color: lightpink;
}


h1 {
    color: black;
    font-size: 10vw;
    margin-bottom: -1vw;
}

h2 {
    color: black;
    font-size: 3vw;
}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 2.7vw;
    font-family: 'Roboto', sans-serif;
}


nav img {
    width: 13vw;
    height: 13vw;
}

nav {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

img {
    width: 30vw;
    height: 30vw;
}


#section1 {
    margin-top: 5vw;
    margin-left: 15%;
}

#section1 nav a {
    text-decoration: underline;
    font-size: 2.7vw;
}

#section3 {
    text-align: left;
    font-family: 'Merriweather', serif;
}
