.section_wrapper {
    background-color: #DEB6C3;
    width: 350px;
    margin-left: 10%;
    border: solid black 2px;
}


h1 {
    color: black;
    font-size: 7vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
}

h2 {
    color: black;
    font-size: 3.8vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
    margin-top: 6vw;
}

h3 {
    color: black;
    font-size: 2.8vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
    margin-top: 6vw;
}

p,
li {
    font-family: 'Merriweather', serif;
    font-size: 2.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}



a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 2.7vw;
    font-family: 'Roboto', sans-serif;
}


nav img {
    width: 13vw;
    height: 13vw;
    margin-top: 2vw;

}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

img {
    width: 30vw;
    height: 30vw;
}

.website {
    text-decoration: none;
    font-size: 2.7vw;
    font-family: 'Roboto', sans-serif;
    margin-left: 5vw;
    border: solid black 1px;
    padding: 10px;
    width: 19vw;
    justify-content: center;
}

#section1 {
    margin-top: 5vw;
    margin-left: 14%;
}

#section1 nav a,
footer {
    text-decoration: underline;
    font-size: 2.7vw;
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}

#section3 {
    text-align: left;
    font-family: 'Merriweather', serif;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 50%;
    z-index: -1;
}

.splashbillede img,
.moodboard img,
.navcss img,
.decide img,
.ui3 img,
.ui4 img,
.pitch img {
    width: 85%;
    height: 85%;
    margin-left: 5vw;
}

.ui1 {
    display: flex;
    flex-direction: row;
}

.ui1 img {
    width: 10%;
    height: 10%;
    margin-left: 5vw;
}


figcaption {
    font-family: 'Merriweather', serif;
    font-size: 1.8vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}
