* {
    background-color: #DEB6C3;
}

#section1 {
    margin-top: 8vw;
    margin-left: 50vw;
}

#section2 {
    margin-top: -37vw;
    margin-left: 3vw;
}


#section3 {
    text-align: left;
    font-family: 'Merriweather', serif;
}

h1 {
    color: black;
    font-size: 10vw;
    margin-bottom: -1vw;
    text-align: right;
}

h2 {
    color: black;
    font-size: 3vw;
    text-align: right;

}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 2.7vw;
    font-family: 'Roboto', sans-serif;
}


nav img {
    width: 13vw;
    height: 13vw;
    margin-top: 2vw;
}

nav {
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

img {
    width: 30vw;
    height: 30vw;
}

video {
    width: 31vw;
    height: 55vw;
    border: solid black 2px;
    margin-left: 5vw;
    border-radius: 7px;
    box-shadow: 10px 10px #9b7682;
}


@media (min-width: 460px) {

    #section2 {
        margin-top: -45vw;
    }
}

@media (min-width: 500px) {

    #section2 {
        margin-top: -45vw;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 2.5vw;
    }

    nav a {
        font-size: 2.4vw;
    }

    nav {
        height: 100px;

    }

    nav img {
        width: 10vw;
        height: 10vw;
    }
}

@media (min-width: 540px) {
    video {
        width: 27vw;
        height: 48vw;
    }

    #section2 {
        margin-top: -40vw;
    }

}

@media (min-width: 600px) {

    h1 {
        font-size: 6.5vw;
    }

    h2 {
        font-size: 2.2vw;
    }

    nav a {
        font-size: 2.2vw;
    }

    nav {
        height: 90px;

    }

    nav img {
        width: 10vw;
        height: 10vw;
    }

    #section2 {
        margin-left: 5vw;

    }
}

@media (min-width: 630px) {
    nav img {
        width: 7vw;
        height: 7vw;
    }

    nav a {
        font-size: 2vw;
        align-content: center;
    }

    nav {
        height: 70px;

    }
}

@media (min-width: 700px)
