* {
    background-color: #DEB6C3;
}

#section1 {
    margin-top: 8vw;
    margin-left: 45vw;
}

#section2 {
    margin-top: -40vw;
}


#section3 {
    text-align: left;
    font-family: 'Merriweather', serif;
}

h1 {
    color: black;
    font-size: 10vw;
    margin-bottom: -1vw;
    text-align: right;
}

h2 {
    color: black;
    font-size: 3vw;
    text-align: right;

}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 2.7vw;
    font-family: 'Roboto', sans-serif;
}


nav img {
    width: 13vw;
    height: 13vw;
    margin-top: 2vw;
}

nav {
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

img {
    width: 30vw;
    height: 30vw;
}

video {
    width: 39.5vw;
    height: 70vw;
    border: solid black 2px;
    margin-left: 5vw;
    border-radius: 7px;
    box-shadow: 10px 10px #9b7682;
}
