* {
    background-color: lightpink;
}

#section1 {
    text-align: center;
    margin-top: 20vw;
    margin-bottom: 10vw;
}

h1 {
    color: black;
    font-size: 5vw;
}

h2 {
    color: black;
    font-size: 3.5vw;
}

h3 {
    color: black;
    font-size: 2.7vw;
}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 2.7vw;
    font-family: 'Roboto', sans-serif;
}


nav {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;

}

hr {
    color: black;

}


img {
    width: 30vw;
    height: 30vw;
}
