* {
    background-color: black;
}

#section1 {
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

h1 {
    color: orange;
    font-size: 3vw;
}

h2 {
    color: orange;
    font-size: 2vw;
}

h3 {
    color: orange;
    font-size: 1.5vw;
}


a:link {
    color: orange;
}

a:visited {
    color: white;
}

a:active {
    color: orange;
}

a:hover {
    color: orange;
}

a {
    text-decoration: none;
}
