.section_wrapper {
    background-color: #DEB6C3;
    width: 80vw;
    margin-left: 10%;
    border: solid black 2px;
    border-radius: 10px;
}

h1 {
    color: black;
    font-size: 7vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
}

h2 {
    color: black;
    font-size: 3.8vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
    margin-top: 6vw;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 2.5vw;
    margin-left: 5vw;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
    animation-name: scale_kf;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes scale_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


nav img {
    width: 13vw;
    height: 13vw;
    margin-top: 2vw;

}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

img {
    width: 30vw;
    height: 30vw;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 50%;
    z-index: -1;
}

#section1 {
    margin-top: 5vw;
    margin-left: 14%;
}

#section1 nav a,
footer {
    text-decoration: underline;
    font-size: 2.7vw;
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}


iframe {
    width: 80%;
    height: 100%;
    margin-left: 5vw;
    margin-bottom: 5vw;
    border: 0px;
}




.mailtele {
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.ommig {
    margin-bottom: 10vw;

}


@media (min-width: 550px) {

    #section1 nav a,
    footer {
        font-size: 2.4vw;
        padding: 17px;
    }

    #nav {
        height: 80px;
    }

    nav img {
        width: 11vw;
        height: 11vw;
        margin-top: -0.1vw;
    }

    h1 {
        font-size: 6vw;
    }

    p {
        font-size: 2vw;
    }

    .mailtele {
        margin-top: 8vw;
        margin-bottom: 8vw;
    }

    .ommig {
        margin-bottom: 8vw;

    }
}

@media (min-width: 650px) {

    #section1 nav a,
    footer {
        font-size: 2.2vw;
        padding: 23px;
    }

    #nav a {
        font-size: 14px;
    }

    #nav {
        height: 80px;
    }

    nav img {
        width: 11vw;
        height: 11vw;
        margin-top: -0.1vw;
    }

    h1 {
        font-size: 5.5vw;
    }

    p {
        font-size: 1.8vw;
    }

    .mailtele {
        margin-top: 7vw;
        margin-bottom: 7vw;
    }

    .ommig {
        margin-bottom: 7vw;

    }
}

@media (min-width: 800px) {

    #section1 nav a,
    footer {
        font-size: 2vw;
        padding: 30px;
    }

    #nav a {
        font-size: 15px;
    }

    nav img {
        width: 8vw;
        height: 8vw;
    }

    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 1.5vw;
    }

    .mailtele {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    .ommig {
        margin-bottom: 6vw;

    }


}

@media (min-width: 950px) {
    #nav {
        height: 60px;
    }

    nav img {
        width: 5vw;
        height: 5vw;
    }

    #section1 nav a,
    footer {
        font-size: 1.5vw;
        padding: 45px;
    }


    h1 {
        font-size: 4vw;
    }

    p {
        font-size: 1.3vw;
    }

    .mailtele {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .ommig {
        margin-bottom: 4vw;

    }

}

@media (min-width: 1000px) {

    nav {
        width: 70%;
    }

    hr {
        display: none;
    }

    #nava {
        margin-top: 12vw;
        margin-left: -90px;
        width: 170px;
    }

    #navb {
        margin-top: 23vw;
        margin-left: -190px;
        width: 170px;
    }

    #navc {
        margin-top: 32vw;
        margin-left: -190px;
        width: 170px;
    }

    .section_wrapper {
        width: 60vw;
        margin-left: 30vw;
        margin-bottom: 5vw;

    }

    #section1 nav {
        margin-left: 20vw;
        margin-top: -10vw;
    }

    #section1 nav a {
        font-size: 1.5vw;
        padding: 25px;
    }

    footer {
        display: none;
    }

    nav img {
        width: 7vw;
        height: 7vw;
    }

}

@media (min-width: 1100px) {

    nav {
        width: 65%;
    }

    #nava {
        margin-left: -110px;
    }

    #navb {
        margin-top: 21vw;

    }

    #navc {
        margin-top: 28vw;

    }

    .section_wrapper {
        width: 50vw;
        margin-left: 40vw;

    }

    #section1 nav {
        margin-left: 30vw;
    }

    #section1 nav a {
        font-size: 1.2vw;
        padding: 25px;
    }

    nav img {
        width: 8vw;
        height: 8vw;
    }

    h1 {
        font-size: 3vw;
    }

    p {
        font-size: 1.1vw;
    }

}
