.section_wrapper {
    background-color: #DEB6C3;
    width: 80vw;
    margin-left: 10%;
    border: solid black 2px;
    border-radius: 10px;

}

h1 {
    color: black;
    font-size: 7vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
}

h2 {
    color: black;
    font-size: 3.8vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
    margin-top: 6vw;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 2.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

figcaption {
    font-family: 'Merriweather', serif;
    font-size: 1.8vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


nav img {
    width: 13vw;
    height: 13vw;
    margin-top: 2vw;

}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

img {
    width: 30vw;
    height: 30vw;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 50%;
    z-index: -1;
}

#section1 {
    margin-top: 5vw;
    margin-left: 14%;
}

#section1 nav a,
footer {
    text-decoration: underline;
    font-size: 2.7vw;
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}

.section_wrapper img {
    width: 50vw;
    height: 50vw;
    margin-left: 5vw;
}

ul li {
    font-family: 'Merriweather', serif;
    font-size: 2.5vw;
    margin-bottom: 5vw;
}


@media (min-width: 550px) {

    #section1 nav a,
    footer {
        font-size: 2.4vw;
        padding: 20px;
    }

    #nav {
        height: 80px;
    }

    nav img {
        width: 11vw;
        height: 11vw;
        margin-top: -0.1vw;
    }

    h1 {
        font-size: 6vw;
    }

    p {
        font-size: 2.3vw;
        margin-right: 5vw;
    }

    ul li {
        font-size: 2.3vw;

    }

}

@media (min-width: 650px) {

    #section1 nav a,
    footer {
        font-size: 2.2vw;
        padding: 23px;
    }

    #nav a {
        font-size: 14px;
    }

    #nav {
        height: 80px;
    }

    nav img {
        width: 11vw;
        height: 11vw;
        margin-top: -0.1vw;
    }

    h1 {
        font-size: 5.5vw;
    }

    p {
        font-size: 2vw;

    }

    ul li {
        font-size: 2vw;

    }

}

@media (min-width: 700px) {

    .section_wrapper {
        width: 65vw;
        margin-left: 15vw;

    }

    #section1 {
        margin-left: 18vw;
    }

    #section1 nav a,
    footer {
        font-size: 1.9vw;
        padding: 20px;
    }

    #nav a {
        font-size: 14px;
    }

    nav img {
        width: 8vw;
        height: 8vw;
    }

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 2.8vw;
        margin-top: 3vw;
    }

    p {
        font-size: 1.7vw;
        margin-bottom: 3vw;

    }

    figcaption {
        font-size: 1.3vw;

    }

    ul li {
        font-size: 1.7vw;
        margin-bottom: 3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }


}


@media (min-width: 750px) {

    hr {
        display: none;
    }


    nav {
        width: 80%;
    }

    #nava {
        margin-top: 12vw;
        margin-left: -80px;
        width: 170px;
    }

    #navb {
        margin-top: 24vw;
        margin-left: -190px;
        width: 170px;
    }

    #navc {
        margin-top: 33vw;
        margin-left: -190px;
        width: 170px;
    }

    .section_wrapper {
        width: 60vw;
        margin-left: 33vw;
        margin-bottom: 5vw;

    }

    #section1 nav {
        margin-left: 15vw;
        margin-top: -15vw;
    }

    #section1 nav a,
    footer {
        font-size: 1.5vw;
        padding: 25px;
    }

    nav img {
        width: 7vw;
        height: 7vw;
    }

}


@media (min-width: 900px) {

    nav {
        width: 70%;
    }

    #nava {
        margin-top: 10vw;
        margin-left: -90px;

    }

    #navb {
        margin-top: 20vw;
    }

    #navc {
        margin-top: 29vw;
    }

    .section_wrapper {
        width: 55vw;
        margin-left: 36vw;
        margin-bottom: 5vw;

    }

    #section1 nav {
        margin-left: 20vw;
        margin-top: -10vw;
    }

    #section1 nav a,
    footer {
        font-size: 1.5vw;
        padding: 20px;
    }

    nav img {
        width: 8vw;
        height: 8vw;
    }

    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2.5vw;
        margin-top: 2.6vw;
    }

    p {
        font-size: 1.5vw;
        margin-bottom: 2.8vw;

    }

    figcaption {
        font-size: 1.2vw;

    }

    ul li {
        font-size: 1.5vw;
    }

    .section_wrapper img {
        width: 40vw;
        height: 40vw;
    }

}

@media (min-width: 1000px) {

    #nava {
        margin-left: -100px;

    }

    #navb {
        margin-top: 19vw;
    }

    #navc {
        margin-top: 27vw;
    }


    #section1 nav {
        margin-left: 20vw;
        margin-top: -10vw;
    }

    #section1 nav a,
    footer {
        font-size: 1.5vw;
        padding: 20px;
    }

    h1 {
        font-size: 2.7vw;
    }

    h2 {
        font-size: 2vw;
    }

    p {
        font-size: 1.2vw;

    }

    figcaption {
        font-size: 1vw;

    }

    ul li {
        font-size: 1.2vw;
    }

    .section_wrapper img {
        width: 30vw;
        height: 30vw;
    }

}

@media (min-width: 1100px) {

    nav {
        width: 60%;
    }

    #nava {
        margin-left: -110px;
        margin-top: 12vw;

    }

    #navb {
        margin-top: 20vw;
    }

    #navc {
        margin-top: 27vw;
    }


    #section1 nav {
        margin-left: 25vw;
        margin-top: -12vw;
    }


    h1 {
        font-size: 3vw;
        margin-top: 4vw;
    }

    h2 {
        font-size: 1.8vw;
    }

    p {
        font-size: 1.2vw;

    }

    figcaption {
        font-size: 1vw;
    }

    ul li {
        font-size: 1.2vw;
        margin-bottom: 2vw;

    }

    .section_wrapper img {
        width: 30vw;
        height: 30vw;
    }

    figcaption {
        margin-bottom: 3vw;
    }

    .section_wrapper {
        width: 50vw;
        margin-left: 40vw;

    }

    #section1 nav a,
    footer {
        font-size: 1.2vw;
        padding: 25px;

    }

    nav img {
        width: 8vw;
        height: 8vw;
    }


}
