.section_wrapper {
    background-color: #DEB6C3;
    width: 350px;
    margin-left: 10%;
    border: solid black 2px;
    border-radius: 10px;

}

h1 {
    color: black;
    font-size: 7vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
}

h2 {
    color: black;
    font-size: 3.5vw;
    margin-left: 5vw;
    font-family: 'Merriweather', serif;
    margin-top: 6vw;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 2.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

figcaption {
    font-family: 'Merriweather', serif;
    font-size: 1.8vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: white;
}

a:hover {
    color: white;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 2.7vw;
    font-family: 'Roboto', sans-serif;
}


nav img {
    width: 13vw;
    height: 13vw;
    margin-top: 2vw;

}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

img {
    width: 30vw;
    height: 30vw;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 50%;
    z-index: -1;
}

#section1 {
    margin-top: 5vw;
    margin-left: 14%;
}

#section1 nav a,
footer {
    text-decoration: underline;
    font-size: 2.7vw;
}

.section_wrapper img {
    width: 50vw;
    height: 50vw;
    margin-left: 5vw;

}
